.buttons_wrapper {
  display: grid;
  grid-template-columns: 65px 189px 189px 189px;
  gap: 16px 32px;
  margin-left: 240px;
}

.btn_type_title {
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: uppercase;
  font-size: var(--description-font-size);
  color: var(--grey-3);
}

.btn {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: var(---button-font-size);
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn-primary {
  font-size: var(---button-font-size);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary_hover);
}

/* dev purposes only */
.primary_btn_hovered {
  background-color: var(--primary_hover);
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.secondary_btn {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.secondary_btn:hover {
  background-color: var(--secondary_hover);
}

/* dev purposes only */
.secondary_btn_hovered {
  background-color: var(--secondary_hover);
}

.secondary_btn:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.alternate_btn {
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
  background-color: var(--white);
}

.alternate_btn:hover {
  border: 1px solid var(--grey-4);
}

/* dev purposes only */
.alternate_btn_hovered {
  border: 1px solid var(--grey-4);
}

.alternate_btn:disabled {
  border: 1px solid var(--grey-2);
  color: var(--grey-2);
  cursor: default;
  pointer-events: none;
}
