@import '../fonts/fonts.css';
@import 'reset.css';
@import 'normalize.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --error: var(--red);
  --success: var(--blue);

  --background-orange: orange;
  --background-green: green;
  --background-blue: (blue);

  --primary: var(--blue);
  --primary_hover: #2342c0;

  --secondary: var(--purple);
  --secondary_hover: #5028c6;

  --title-font-size: 38px;

  --button-font-size: 16px;
  --description-font-size: 12px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.component {
  display: flex;
  box-sizing: border-box;
  width: 1440px;
  padding: 165px 139px;
  margin: 0 auto;
  background-color: var(--white);
}

.component__title {
  font-size: var(--title-font-size);
  font-family: 'Inter', sans-serif;
}
